h2 {
    font-weight: 800;
    margin-bottom: 40px;
    color: #1c1c1c;
    margin-left: 40px;
}

h6 {
    letter-spacing: 1.5px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #1c1c1c;
}

.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    filter: brightness(50%);
}

.card-body {
    text-align: left;
}

.card-title {
    font-weight: 700;
    color: #fdfdfd;
}

.card-text {
    color: #fffefe;
}

.btn-primary {
    background-color: #ffffff;
    border: none;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
}

.btn-primary:hover {
    background-color: #000000;
}

.bt-page {
    height: 100%;
}

@media (max-width: 768px) {
    .card {
        margin-bottom: 20px;
    }
    
    h2 {
        font-size: 24px;
    }
    
    h6 {
        font-size: 14px;
    }
}
