footer {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    background-color: #000000;
    color: #ffffff;
    display: flex;
}

.footer {
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    padding-left: 6.5rem;
}

.footer-column {
    margin-bottom: 1rem;
}

.footer-column h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #ffffff;
    font-weight: bold;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 0.5rem;
}

.footer-column ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.9rem;
}

.subscribe {
    padding-left: 6.5rem;
}

.subscribe h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #ffffff;
}

.subscribe-form {
    display: flex;
    max-width: 500px;
    height: 60px;
}

.subscribe-form input[type="email"] {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid #4C4C4C;
    background-color: transparent;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #ffffff;
}

.subscribe-form button {
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    color: #232536;
    border: none;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.container {
    display: flex;
    max-height: 500px;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }
    .subscribe-form {
        flex-direction: column;
    }
    .subscribe-form input[type="email"] {
        margin-bottom: 1rem;
    }
}